div{
  .message{
    border: 1px #fff solid;
    border-radius: 20px;
    width: 800px;
    margin-top: 5px;

    padding-left: 25px;
    h3{
      color: #26C75B;
      margin: 9px;
    }
    h4{
      margin: 9px;
    }
  }
}