.container{
  position: absolute;
  color: #fff;
  max-width: 100%;
  display: flex;
  padding-top: 165px;
  .ProfilePhoto{
    width: 250px;
    border: 0;
    margin-right: 40px;
  }
  nav{
    margin-left: 120px;
    margin-right: 75px;
    margin-top: 10px;
    ul{
      list-style-type: none;
      li{
        margin-top: 10px;
        display: flex;
        img{
          margin-right: 30px;
        }
        a{
          font-weight: bolder;
          font-size: 22px;
          vertical-align: center;
        }
      }
    }
  }
  .Inputs{
    display: flex;
    flex-wrap: wrap;
    width: 580px;
    height: 200px;
    text-align: center;
    input, select{
      width: 140px;
      height: 29px;
      border: 1px solid #FFFFFF;
      border-radius: 5px;
      font-style: italic;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      background: rgba(255, 255, 255, 0);
      color: rgba(255, 255, 255, 0.8);
      padding-left: 10px;
      margin-right: 5%;
      margin-top: 27px;
      &::placeholder{
        color: #fff;
      }
      @media (max-width: 1214px) {
        width: 250px;
      }
      @media (max-width: 1140px) {
        width: 180px;
      }
      @media (max-width: 450px) {
        width: 150px;
      }
      @media (max-width: 380px) {
        width: 130px;
      }
    }
    .w60{
      width: 50px;
    }
    button{
      height: 40px;
      width: 340px;
      font-weight: bolder;
      background-color: #3ABB4E;
      font-size: 16px;
      color: #fff;
      border: 0;
      border-radius: 10px;
      transition: .4s;
      &:hover{

      }
    }
    .selectPlayer {
      display: block;
      width: 180px;
      margin: 0 0 20px;
      font-style: italic;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      @media (max-width: 1214px) {
        width: 250px;
      }
      @media (max-width: 1140px) {
        width: 180px;
      }
      @media (max-width: 450px) {
        width: 150px;
      }
      @media (max-width: 380px) {
        width: 130px;
      }

      div {
        color: rgba(255, 255, 255, 0.8);
        background: rgba(217, 217, 217, 0);
      }
    }
  }
}

