.inputs{
  margin-left: 140px;
  margin-top: 65px;
  display: grid;
  max-width: 900px;
  color: #fff;
  input{
    margin: 8px;
    width: 200px;
    height: 30px;
    color: #fff;
    background-color: transparent;
    border: #fff 2px solid;
    border-radius: 10px;
    text-indent: 8px;
  }
  .checkbox{
    background-color: black;
    width: 25px;
  }
}
