.role {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  @media (max-width: 1140px) {
    justify-content: center;
  }
.files {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: 1140px) {
    display: none;
  }
  .input_file {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 0 20px;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 70px;
      text-decoration: none;
      text-align: center;
      margin: 0 auto;
      color: #fff;
      border-radius: 10px;
      background-color: rgba(233, 233, 233, 0.4);
      width: 80%;
      height: 250px;
      border: none;
      transition: background-color .2s;
    }

    &:hover {
      span {
        background-color: #59be6e;
      }
    }

    &:active {
      span {
        background-color: #2E703A;
      }
    }

    .files {
      display: none;
    }
  }
}


  .form {
    display: flex;
    flex-direction: column;
    min-height: 55vh;
    justify-content: center;
    background: rgba(217, 217, 217, 0.1);
    padding: 30px;
    width: 50%;
    text-align: center;
    color: #FFFFFF;
    @media (max-width: 1140px) {
      width: 70%;
    }
    @media (max-width: 784px) {
      width: 90%;
      padding: 30px 0;
      background: none;
    }
    @media (max-width: 330px) {
      width: 100%;
    }

    .title {
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 48px;
      padding: 0 0 11px;
    }

    .subTitle {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
    }


    .inputs {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .label {
        flex-direction: column;

        &_checkbox {
          display: flex;
          width: 180px;
          flex-direction: row;
          margin: 10px 0 0;

          .assent {
            display: flex;
            width: 60%;
            margin: 0 16px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            text-align: start;
            align-items: center;
          }
        }

        .labelTitle {
          display: flex;
          max-width: 180px;
          text-align: start;
          font-style: italic;
          font-weight: 400;
          font-size: 15px;
          line-height: 18px;
          height: 40px;
          align-items: end;
          @media (max-width: 1214px) {
            width: 250px;
          }
          @media (max-width: 1140px) {
            width: 180px;
          }
          @media (max-width: 450px) {
            width: 150px;
          }
          @media (max-width: 380px) {
            width: 130px;
          }
        }

        .input, .select {
          width: 180px;
          height: 36px;
          padding: 0;
          border: 1px solid #FFFFFF;
          border-radius: 5px;
          font-style: italic;
          font-weight: 400;
          font-size: 15px;
          line-height: 18px;
          background: rgba(255, 255, 255, 0);
          color: rgba(255, 255, 255, 0.8);
          @media (max-width: 1214px) {
            width: 250px;
          }
          @media (max-width: 1140px) {
            width: 180px;
          }
          @media (max-width: 450px) {
            width: 150px;
          }
          @media (max-width: 380px) {
            width: 130px;
          }
        }
      }

      .selectPlayer {
        display: block;
        width: 180px;
        margin: 0 0 20px;
        font-style: italic;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        @media (max-width: 1214px) {
          width: 250px;
        }
        @media (max-width: 1140px) {
          width: 180px;
        }
        @media (max-width: 450px) {
          width: 150px;
        }
        @media (max-width: 380px) {
          width: 130px;
        }

        div {
          color: rgba(255, 255, 255, 0.8);
          background: rgba(217, 217, 217, 0);
        }
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: start;

      .textarea {
        padding: 10px;
        border-radius: 5px;
        margin: 0 0 10px;
        font-style: italic;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        background: rgba(255, 255, 255, 0);
        color: rgba(255, 255, 255, 0.8);
        border: 1px solid #FFFFFF;
      }

      .checkbox {
        display: flex;
        flex-direction: row;
        align-items: start;
        margin: 10px 0 0;

        .check {
          color: rgba(255, 255, 255, 0);
        }

        .assent {
          width: 60%;
          margin: 0 16px;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          text-align: start;
        }
      }

      .button {
        color: #FFFFFF;
        border: none;
        height: 49px;
        margin: 30px 0 0;
        background: #26C75B;
        border-radius: 5px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
}
