nav {
  position: fixed;
  z-index: 5;
  width: 100%;
  backdrop-filter: blur(5px);
  height: 60px;
  background: rgba(255, 255, 255, .1);
  ul {
    width: 20%;
    margin-top: 3px;
    display: flex;
    list-style-type: none;
    text-align: center;

    li {
      margin-top: 15px;
      flex: 1 1 0;

      a {
        padding: 7px;
        border: #fff 1px solid;
        border-radius: 5px;
        text-decoration: none;
        color: #ffffff;
        transition: 0.3s;
        &:hover{
          background-color: white;
          color: #000;
        }
      }
    }
  }
}