div{
  .person {
    margin-top: 30px;
    flex-flow: column;
    margin-left: 20px;
    width: 200px;
    height: 300px;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    img{
      border: none;
      margin: 0;
      border-radius: 20px;
      width: 200px;
    }
  }
}