main {
  .cont {
    position: absolute;
    width: 100%;
    .form {
      width: 30%;
      height: 400px;
      margin-left: auto;
      margin-top: 70px;
      margin-right: auto;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.1);
      .inputs {
        margin-right: auto;
        margin-left: auto;
        max-width: 400px;
        color: #fff;
        padding-top: 40px;
        input, select {
          flex: 1 1 0;
          margin: 8px;
          width: 80%;
          height: 40px;
          color: #fff;
          background-color: transparent;
          border: #fff 1px solid;
          border-radius: 10px;
          text-indent: 8px;
        }

        option {
          color: black;
        }

        button {
          margin: 8px;
          width: 70%;
          height: 45px;
          background-color: #26C75B;
          color: #fff;
        }
        a{
          text-decoration: none;
          color: #26C75B;
        }
      }
    }
  }
}